.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-color:blue;
}
.container {
  width: 300px;
  background-color: black;
  height: 300px;
}
